@model Bootcamp_6_10.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="CategotyId" class="control-label"></label>
              <select class="form-control" asp-for="CategotyId" asp-items="@ViewBag.categoties">
                   <option disabled selected value="0">Selecct Category</option>
                @**@   @*  <option value="27">Electronics</option>
                   <option value="28">Clothing</option>
                   <option value="29">Books</option>
                   <option value="30">Home & Kitchen</option>
                   <option value="31">Toys & Games</option> *@
              </select>
                <span asp-validation-for="CategotyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductQTY" class="control-label"></label>
                <input asp-for="ProductQTY" class="form-control" />
                <span asp-validation-for="ProductQTY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

